.page_heading {

    background-image: url("../images/backroundindex.png");
     background-repeat: repeat;
}

.methode {
      background-image: linear-gradient(to right,#eebfab,#d687db);
            border: 2px black solid;
            border-radius: 8px;
            margin-top: 50px;


}
h3{
    font-size: 1.5em;
    font-weight: normal;
}

#go{
    float: right;
    width: 3.25em;
}

label{
    cursor: default;
}

label > normal-prompt{

}



div.methode > form > input[type=submit]{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 17px;

}

div.methode > form > input[type=submit]:hover {
    color: black;
  background-color: white;
}

.active {
     color: black;
  background-color: white;
}

.inactive {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}



.navigation {
    background-image: linear-gradient(to right,#eebfab,#d687db);
            border: 2px black solid;
            border-radius: 8px;
            margin-top: 50px;"

}

body > section > div > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;"


}


body > section > div > div > div:nth-child(2) > div:nth-child(2){
    padding: 23px;
    border: solid 4px black;
    margin: 38px;


}