<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'easymath/css/style.css' %}">
    <meta charset="UTF-8">
    <title>welcome to easymath </title>

  <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>


</head>
<body>
    <topbar>
        <div></div>
        <div></div>
        <div></div>
$$\sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}$$
    </topbar>

    <div>
        <div></div>
        <div>
        <h3>historique des command: </h3>
        <h3 >{{ history }}</h3>
        </div>
        <div>
            <form method="POST">{% csrf_token %}>> <input type="text" name="cal" id="cal"></form>
            <h3>>> $${{ output }}$$</h3>

        </div>




    </div>
<a href = "/documentation" >documentation</a>


</body>
</html>
