<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'easymath/css/style.css' %}">
    <meta charset="UTF-8">
    <title>welcome to easymath </title>

  <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

        </script>

</head>
<body>
    <topbar>
        <div></div>
        <div></div>
        <div></div>
    </topbar>

    <div>
        <div></div>
        <div></div>
        <div> <h3>ecrire une command: </h3>
            <form method="POST">{% csrf_token %} <input type="text" name="cal" id="cal">
             <button type="text" >calculer l'expression </button></br>
            </form>
            <form method='get'>
                <input type="submit" value="average" name="average">
                <input type="submit" value="transpose" name="transpose">
                 <input type="submit" value="inverse" name="inverse">
                 <input type="submit" value="determinant" name="determinant">
                <input type="submit" value="trace" name="trace">
                <input type="submit" value="valeur_propre" name="valeur_propre">
                <input type="submit" value="nombre_parfait" name="nombre_parfait">
                <input type="submit" value="intervalle_parfait" name="intervalle_parfait">



            </form>
             <h3>{{ output }}</h3>


        </div>




    </div>
    <h3>{{ mat }}</h3>

<a href = "/documentation" >documentation</a>
    <p>syntax:<br>
        [a,b];[c,d]-[e,f];[g,h]<br>
<p>examples:<br>
    5/7-2<br>
[1,2];[10,10]+[3,1];[2,4]<br>
   [10,10]/[2,2];[2,4]<br>
        valeur_propre([6,1,1];[4,-2,5];[2,8,7])<br>
        nombre_parfait(6)<br>
       intervalle_parfait(1,29)<br>
        nombre_premier(6)<br>

</p>




</body>
</html>
