<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'easymath/css/style.css' %}">
    <meta charset="UTF-8">
    <title>welcome to easymath </title>

  <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>


</head>
<body>
    <topbar>
        <div></div>
        <div></div>
        <div></div>
    </topbar>

    <div>
        <div></div>
        <div>


        </div>
        <div> <h3>ecrire une command: </h3>
            <form method="POST">{% csrf_token %} <input type="text" name="cal" id="cal"></form>
            <h3>{{ output }}</h3>


        </div>




    </div>
<a href = "/documentation" >documentation</a>
<p>examples:<br>
    calculate(5/7-2)<br>
    matrix_calculator([1,2];[10,10]+[3,1];[2,4])<br>
    matrix_calculator([10,10]/[2,2];[2,4])<br>
    inverse_matrix([[6, 1, 1];[4, -2, 5];[2, 8, 7]])<br>
    determinant([3,1];[2,4])<br>
</p>


</body>
</html>
