<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>EasyMath_Votre Plateforme de calcul</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/siteLogo.png' %}">


    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>


    <style>
          section.page-heading {
            font-family:  sans-serif;
        }
    </style>


</head>

<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'Home' %}" class="logo">
                        <img src="{% static 'images/EasyMath.png' %}" alt="Easymath" id="logo">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'Home' %}">Accueil</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Mathematics</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'Matrice' %}">Matrices</a></li>
                                <li><a href="{% url 'Statistique' %}">Statistiques</a></li>
                                <li><a href="{% url 'Fraction' %}">Fractions</a></li>
                                <li><a href="{% url 'Probabilite' %}">Probabilités</a></li>
                                <li><a href="{% url 'NombreParfait' %}">Nombres Parfaits</a></li>
                                <li><a href="{% url 'NombreAmi' %}">Nombres Amicaux</a></li>
                                <li><a href="#top">Nombres Premiers</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#calculatrice-section">Calculatrice</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Syntaxe</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'Syntax' %}#matrix">Matrices et Tableaux</a></li>
                                <li><a href="{% url 'Syntax' %}#root">Racines Carrés</a></li>
                                <li><a href="{% url 'Syntax' %}#log">Algorithme Naturel</a></li>
                                <li><a href="{% url 'Syntax' %}#exp">Exponential</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text" style="margin-top: 50px">
                    <h1>Les Nombres premiers </h1>
                </div>

                <div>
                    <h2 style="margin-top: 50px;text-align: left" id="definition">
                        <u>Définition</u>
                    </h2>

                    <div style="text-align: left;margin-left: 100px;margin-top: 50px">
                        Un nombre premier est un nombre entier naturel (non nul) qui admet <b>exactement 2 diviseurs
                        distincts</b><u> : 1 et lui-même.</u>
                        <br><br>
                        En d'autres termes c'est un nombre entier ('sans virgule'), plus grand que 1, et qui ne peut
                        être divisé que par 1 et par lui-même.
                        <br><br>
                        <span style="margin-left: 20px"><b style="color:#de8fd7 ">Exemple : Le nombre 5.</b></span>
                        <br><br>
                        On ne peut diviser ce nombre que par 1 et 5 (lui-même) si on veut obtenir un nombre entier
                        (c'est-à-dire sans virgule).
                        <br><br>
                        On a : 5/1 = 5 et 5/5 = 1
                        <br><br>
                        Note : la plupart des nombres sont divisibles par d'autres nombres qu'eux-mêmes et 1 :
                        <br><br>
                        12/3 = 4 ; 22/11 = 2 ; ...
                        <br><br>
                        Mais un nombre premier ne peut être multiple d'autre chose que 1 et lui-même :
                        <br><br>
                        Reprenons 5, si on le divise par 2 on obtient 2,5 ; mais 2,5 n'est pas un nombre entier. Vous
                        pouvez essayer de le diviser par d'autres nombres...<b style="color:#de8fd7 ">5 n'est divisible
                        que par 1 et par 5.</b>
                    </div>

                    <hr id="nombres_premiers">

                    <h2 style="margin-top:50px;text-align: left">
                        <u>Quelques nombres premiers</u>
                    </h2>
                    <div style="text-align: left;margin-left: 100px;margin-top: 50px;margin-top: 50px">
                        2,3,5,7,11,13,17,19,23,29,31,37,41,43,...,73,79,83,...
                        <br><br>
                        Il existe une infinité de nombres premiers. Pour les reconnaître il faut tout d'abord connaître
                        vos <b style="color:#de8fd7 ">critères de divisibilité</b>.
                        <br><br>
                        <b style="color:#f5bca3;margin-left: -30px"><u>Petit rappel :</u></b>
                        <br><br>
                        <span style="margin-left: -20px">a) Savoir si un nombre est <b style="color: #de8fd7">divisible par 2</b> :</span>
                        <br><br>
                        Regarder <b><u style="font-size: 20px">le dernier chiffre du nombre</u></b> : le nombre est
                        divisible par deux si, et seulement s'il
                        s'agit de <b style="font-size: 20px"><u>0,2,4,6 ou 8 (si le nombre est pair)</u></b> ; .
                        <br><br>
                        657 326 : le dernier chiffre est 6, le nombre est donc divisible par 2.
                        <br><br>
                        254 489 : le dernier chiffre est 9, le nombre n'est donc pas divisible par deux.
                        <br><br>
                        <br>
                        <span style="margin-left: -20px">b) Savoir si un nombre est <b style="color: #de8fd7">divisible par 3</b> :</span>
                        <br><br>
                        Calculer <b style="font-size: 20px"><u>la somme des chiffres du nombre</u></b>, le nombre est
                        divisible par 3 si, et seulement si
                        cette <b style="font-size: 20px"><u>somme est divisible par 3</u></b>
                        <br><br>
                        111 111 111 : la somme est 9, et 9 est divisible par 3 (9/3 = 3), le nombre est donc divisible
                        par 3
                        <br><br>
                        112 111 111 : la somme est 10, et 10 n'est pas divisible par 3, le nombre n'est donc pas
                        divisible par 3.
                        <br><br>
                        <br>
                        <span style="margin-left: -20px">c) Savoir si un nombre est <b style="color: #de8fd7">divisible par 4</b> :</span>
                        <br><br>
                        le nombre est divisible par 4 si, et seulement si, <u><b style="font-size: 20px">le nombre formé
                        par les deux derniers
                        chiffres</b> est lui-même divisible par 4.</u>
                        <br><br>
                        84 312 ==> 12 est divisible par 4 (12/4 = 3), 84 312 est donc divisible par 4.
                        <br><br>
                        4 882 ==> 82 n'est pas divisible par 4, 4 882 n'est donc pas divisible par 4.
                        <br><br>
                        <br>
                        <span style="margin-left: -20px">d) Savoir si un nombre est <b style="color: #de8fd7">divisible par 5</b> :</span>
                        <br><br>
                        Regarder <u style="font-size: 20px"><b>le dernier chiffre</b></u>, le nombre est divisible par 5
                        si, et seulement s'il s'agit de <b><u>0 ou
                        5</u></b>
                        <br><br>
                        4 895 : le dernier chiffre est 5, le nombre est donc divisible par 5.
                        <br><br>
                        78 524 : le dernier chiffre est 4, le nombre n'est donc pas divisible par 5.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta" id="calculatrice-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="{% static 'images/cta-left-image.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>visiter la calculatrice en ligne</h6>
                <h4>Effectuer vos calcule en tout moment </h4>
                <br>
                <div class="white-button">
                    <a href="{% url 'index' %}">Commencer</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-us" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Contact us</h6>
                                <h4>Say <em>Hello</em></h4>
                                <p>Si vous avez des remarques des questions notre equipe est a votre disposition a tout
                                    moment </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on"
                                       required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                       placeholder="Your Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" id="message" placeholder="Your Message"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-gradient-button">Send Message
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <p class="copyright">Copyright © 2022 EasyMath., Ltd. All Rights Reserved.

                    <br>BY : <a rel="sponsored" target="_blank">GI2</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>

</body>
</html>