<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>EasyMath_Votre Plateform de calcul</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/siteLogo.png' %}">


    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>



    <style>
        .inventors {
            color: #de8fd7;
        }

        .topnav {
            overflow: hidden;
            background-image: linear-gradient(to right,#eebfab,#d687db);
            border: 2px black solid;
            border-radius: 8px;
            margin-top: 50px;
        }

        .topnav a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 69px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: white;
            color: black;
            font-size: 16px;
            border-radius: 8px;
        }
    </style>


</head>

<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'Home' %}" class="logo">
                        <img src="{% static 'images/EasyMath.png' %}" alt="Easymath" id="logo">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'Home' %}">Accueil</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Mathematics</a>
                                 <ul class="sub-menu">
                                <li><a href="{% url 'Matrice' %}">Matrices</a></li>
                                <li><a href="{% url 'Statistique' %}">Statistiques</a></li>
                                <li><a href="{% url 'Fraction' %}">Fractions</a></li>
                                <li><a href="{% url 'NombreParfait' %}">Nombres Parfaits</a></li>
                                <li><a href="{% url 'NombreAmi' %}">Nombres Amicaux</a></li>
                                <li><a href="{% url 'NombrePremier' %}">Nombres Premiers</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#calculatrice-section">Calculatrice</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->



<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text" style="margin-top: 50px">
                    <h1>Les Nombres Parfaits </h1>
                </div>
                <div class="topnav">
                    <a href="#intro">Introduction</a>
                    <a href="#nombre_parfait_paire">Nombres parfaits pairs</a>
                    <a href="#exemple">Exemples</a>
                    <a href="#nombre_parfait_impaire">Nombres parfaits impairs</a>
                </div>

                <div>
                    <h2 style="margin-top: 50px;text-align: left" id="intro">
                        <u>Introduction</u>
                    </h2>

                    <div style="text-align: left;margin-left: 100px;margin-top: 50px">
                        Un nombre parfait est un nombre naturel n non nul qui est égal à la somme de ses diviseurs
                        stricts, autrement dit,tel que <img src="{% static 'images/sigma(n).webp' %}"
                                                            style="width: 77px;height: 21px">, où σ(n) est la somme des
                        diviseurs entiers
                        positifs de n, n non compris.
                        <br><br>
                        Le premier nombre parfait est 6, car 1, 2, et 3 sont les diviseurs stricts de 6 et 1 + 2 + 3 =
                        6.
                    </div>

                    <hr id="nombre_parfait_paire">

                    <h2 style="margin-top:50px;text-align: left">
                        <u>Nombres parfaits pairs</u>
                    </h2>
                    <div style="text-align: left;margin-left: 100px;margin-top: 50px;margin-top: 50px">
                        Dans le Livre IX de ses Éléments, le mathématicien Euclide, au IIIe siècle av. J.-C., a prouvé
                        que si <img src="{% static 'images/M=2p-1.webp' %}" style="width: 99px;height: 16px">, est
                        premier, alors <img src="{% static 'images/div(m+1,2).webp' %}"
                                            style="width: 243px;height: 43px"> est
                        parfait.
                        <br><br>
                        Ainsi :

                        \begin{aligned} &. 6 = 21(22 − 1)
                        \\ &. 28 = 22(23 − 1)
                        \\ &. 496 = 24(25 − 1)
                        \\ &. 8128 = 26(27 − 1)
                        \\ &...
                        \end{aligned}

                        Par ailleurs, <span class="inventors">Leonhard Euler</span>, au XVIIIe siècle, a prouvé que tout
                        nombre parfait pair est de la
                        forme proposée par Euclide. La recherche de nombres parfaits pairs est donc liée à celle des
                        nombres premiers de Mersenne (nombres premiers de la forme 2<sup>p</sup>-1).
                        <br><br>
                        Il est établi que tout nombre parfait pair se termine par un 6 ou un 8, mais pas forcément en
                        alternance.
                        <br><br>
                        En 2000, <span class="inventors">Douglas Iannucci</span> a démontré que tous les nombres pairs
                        parfaits sont des nombres de
                        Kaprekar en base deux.
                        <br><br>
                        Les nombres parfaits pairs étant de la forme 2<sup>n−1</sup>(2<sup>n</sup> − 1), ce sont des
                        nombres triangulaires,
                        et, en tant que tels, la somme des entiers naturels jusqu'à un certain rang, en l'occurrence
                        2<sup>n</sup>
                        − 1. De plus, tous les nombres parfaits pairs, excepté le premier, sont la somme des 2<sup>(n−1)/2</sup>
                        premiers cubes impairs :

                        \begin{aligned}
                        &6 = 2^1(2^2-1) = 1+2+3,
                        \\ &28 = 2^2(2^3-1) = 1+2+3+4+5+6+7 = 1^3 + 1^3,
                        \\ &496 = 2^4(2^5-1) = 1+2+3+ \dots +29+30+31 = 1^3+3^3+5^3+7^3,
                        \\ &8128 = 2^6(2^7-1) = 1+2+3+ \dots +125+126+127 = 1^3+3^3+5^3+7^3+9^3+11^3+13^3+15^3.
                        \end{aligned}

                        Le reste de la division d'un nombre parfait pair (à l'exception de 6) par 9 vaut 1. Ceci veut
                        dire que le résidu d'un tel nombre vaut 1. Par exemple, le résidu de 8128 vaut 1, puisque 8 + 1
                        + 2 + 8 = 19, 1 + 9 = 10, et 1 + 0 = 1.
                    </div>

                    <hr id="exemple">

                    <h2 style="margin-top: 50px;text-align: left">
                        <u>Exemples</u>
                    </h2>
                    <div style="text-align: left;margin-left: 100px;margin-top: 50px">
                        Les 4 premiers nombres parfaits sont connus depuis l'antiquité. Depuis, le total est passé à 46
                        nombres parfaits seulement (au 7 octobre 2008).
                    </div>

                    <hr id="nombre_parfait_impaire">

                    <h2 style="margin-top: 50px;text-align: left">
                        <u>Nombres parfaits impairs</u>
                    </h2>
                    <div style="text-align: left;margin-left: 100px;margin-top: 50px">
                        En 2009, les mathématiciens ignorent si des nombres parfaits impairs existent. Différents
                        travaux ont été entrepris mais aucun ne permet d'affirmer ou d'infirmer leur existence. <span
                            class="inventors">Carl
                        Pomerance</span> a présenté une méthode heuristique qui suggère qu'aucun nombre parfait impair
                        n'existe.
                        <br><br>
                        Un nombre parfait impair N doit remplir les conditions suivantes :
                        <br><br>
                        N > 10<sup>300</sup>. Une recherche est en cours pour prouver que N > 10<sup>500</sup>.
                        N est de la forme :

                        \begin{equation}
                        N = q^{\alpha}p^{2e_{1}}_{1}\dots p^{2e_{k}}_k
                        \end{equation}

                        où :
                        <br>
                        - q, p<sub>1</sub>, …, p<sub>k</sub> sont des nombres premiers distincts <span
                            class="inventors">(Euler)</span> ;
                        <br>
                        - q ≡ α ≡ 1 (modulo 4) <span class="inventors">(Euler)</span> ;
                        <br>
                        - Le plus petit facteur premier de N est inférieur à (2k + 8) / 3 <span class="inventors">(Grün 1952)</span>
                        ;
                        <br>
                        - La relation e<sub>1</sub>≡e<sub>2</sub>≡...≡e<sub>k</sub> ≡ 1 (modulo 3) n'est pas satisfaite
                        <span class="inventors">(McDaniel 1970)</span> ;
                        <br>
                        - q<sup>α</sup> > 10<sup>20</sup> ou <img src="{% static 'images/pj.webp' %}"
                                                                  style="width: 30px;height: 27px"> > 10<sup>20</sup>
                        pour
                        j quelconque <span class="inventors">(Cohen 1987)</span> ;
                        <br>
                        - <img src="{% static 'images/24k+1.webp' %}" style="width: 81px;height: 21px"> <span
                            class="inventors">(Nielsen 2003)</span>.
                        <br>
                        Si e<sub>i</sub> ≤ 2 pour tout i :
                        <br>
                        - Le plus petit diviseur premier de N est au moins 739 <span
                            class="inventors">(Cohen 1987)</span> ;
                        <br>
                        - α ≡ 1 (modulo 12) ou α ≡ 9 (modulo 12) <span class="inventors">(McDaniel 1970)</span>.
                        <br>
                        Le plus grand diviseur premier de N est supérieur à 10<sup>8</sup> <span class="inventors">(Takeshi Goto et Yasuo Ohno,
                        2006)</span>.
                        <br>
                        Le second plus grand diviseur premier de N est supérieur à 10<sup>4</sup> et le troisième est
                        plus grand
                        que 100 <span class="inventors">(Iannucci 1999, 2000)</span>.
                        <br>
                        N comporte au moins 75 diviseurs premiers et au moins 9 diviseurs premiers distincts. Si 3 n'est
                        pas un diviseur de N, alors N comporte au moins 12 diviseurs premiers distincts <span
                            class="inventors">(Nielsen 2006 ;
                        Kevin Hare 2005)</span>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta" id="calculatrice-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="{% static 'images/cta-left-image.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>visiter la calculatrice en ligne</h6>
                <h4>Effectuer vos calcule en tout moment </h4>
                <br>
                <div class="white-button">
                    <a href="{% url 'index' %}">Commencer</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-us" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Contact us</h6>
                                <h4>Say <em>Hello</em></h4>
                                <p>Si vous avez des remarques des questions notre equipe est a votre disposition a tout
                                    moment </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on"
                                       required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                       placeholder="Your Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" id="message" placeholder="Your Message"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-gradient-button">Send Message
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <p class="copyright">Copyright © 2022 EasyMath., Ltd. All Rights Reserved.

                    <br>BY : <a rel="sponsored"   target="_blank">GI2</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>

</body>
</html>